<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div style='height:350px;' id="background">
        <h1> Who is Satoshi Nakamoto ? </h1>
    </div>
        
        <p style='text-align:center;width:800px' class="span"><span style='font-weight:bold;color:darkorange'>Satoshi Nakamoto</span> is a pseudonym for the person or group of people who helped develop the first bitcoin software and introduced the concept of cryptocurrency to the world in a 2008 paper.</p>
        <div id="buttons">
            <button class="button"><a href='/'> Home </a></button>
            <button class="button"><a href='/works'> Works </a></button>
            <button class="button"><a href='/gallery'> Photo Gallery </a></button>
        </div>
    <script type="script" src="app.js"></script>
    </body>
</html>