<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div style='height:350px;' id="background">
            <h1> Who is Satoshi Nakamoto ? </h1>
        </div>
        <div id="photos">
            <div class="card2">
            <a href="https://www.investopedia.com/tech/three-people-who-were-supposedly-bitcoin-founder-satoshi-nakamoto/#Dorian_Nakamoto"><img class='image-satoshi' src="/images/satoshi1.jpg"></a>
            <p>Dorian Nakamoto</p>
        </div>
        <div class="card2">
            <a href='https://es.wikipedia.org/wiki/Hal_Finney'><img class='image-satoshi' src="/images/satoshi2-halfinney.jpg"></a>
            <p>Hall Finney</p>
        </div>
        <div class="card2">
           <a href='https://en.wikipedia.org/wiki/Nick_Szabo'><img class='image-satoshi' src="/images/satoshi3-nick.jpg"></a> 
                <p>Nick Szabo</p>
        </div>
        <div class="card2">
            <a href='https://en.wikipedia.org/wiki/Craig_Steven_Wright'><img class='image-satoshi' src="/images/satoshi4-craigwright.jpg"></a>
                <p>Craig Wright</p>
        </div>
    
    </div>
        <div id="buttons">
            <button class="button"><a href='/'> Home </a></button>
            <button class="button"><a href='/about'> About </a></button>
            <button class="button"><a href='/works'> Works </a></button>
        </div>
    <script type="script" src="app.js"></script>
    </body>
</html>