<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div id="background">
            <h1> Satoshi Nakamoto </h1>
            <p id="description">The Greatest Mystery of the 21rst Century</p>
        </div>
        <div id="buttons">
            <button class="button"><a href='/'> Home </a></button>
            <button class="button"><a href='/about'> About </a></button>
            <button class="button"><a href='/works'> Works </a></button>
        </div>
    <script type="script" src="app.js"></script>
    </body>
</html>