<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <h1>Hello</h1>
        <p class="span">My Name is Satoshi Nakamoto</p>
        <div id="buttons">
            <button class="button"><a href='/about'> About </a></button>
            <button class="button"><a href='#'> Works </a></button>
            <button class="button"><a href='#'> Photo Gallery </a></button>
        </div>
    <script type="script" src="app.js"></script>
    </body>
</html>