<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
            <div id="projects">
                <div class="card">
                    <i class="fa-solid fa-calculator fa-lg"></i>
                    <h4>Bitcoin</h4>
                    <p>Open Source P2P decentralized money</p>
                    <div class="background-image bg1">
                    <a class='project-link' href ='https://bitcoin.org/fr/'>Bitcoin Site</a>
                    </div>
                </div>
                <div class="card">
                    <i class="fa-solid fa-calculator fa-lg"></i>
                    <h4>App: Calculator</h4>
                    <p>Functional basic calculator</p>
                    <div class="background-image bg5">
                    <a class='project-link' href ='https://paulfresnel.github.io/calculator/'>Discover</a>
                </div>
                </div>
                <div class="card">
                    <i class="fa-solid fa-calculator fa-lg"></i>
                    <h4>App: Calculator</h4>
                    <p>Functional basic calculator</p>
                    <div class="background-image bg5">
                    <a class='project-link' href ='https://paulfresnel.github.io/calculator/'>Discover</a>
                </div>
                </div>
            </div>



        <div id="buttons">
            <button class="button"><a href='/'> Home </a></button>
            <button class="button"><a href='/about'> About </a></button>
            <button class="button"><a href='/gallery'> Photo Gallery </a></button>
        </div>
    <script type="script" src="app.js"></script>
    </body>
</html>